* text eol=lf
*.md text eol=lf
*.gitattributes text eol=lf
*.gitignore text eol=lf
*.efi filter=lfs diff=lfs merge=lfs -text
*.aml filter=lfs diff=lfs merge=lfs -text
ALCPlugFix filter=lfs diff=lfs merge=lfs -text
alc-verb filter=lfs diff=lfs merge=lfs -text
# Treat *.plist as text
**/*.plist filter=lfs diff=lfs merge=lfs text
InfoPlist.strings filter=lfs diff=lfs merge=lfs text
**/*.dsl filter=lfs diff=lfs merge=lfs text
**/Kexts/** filter=lfs diff=lfs merge=lfs -text
**/Kexts/**/*.plist filter=lfs diff=lfs merge=lfs text
