* text eol=lf
*.md text eol=lf
*.gitattributes text eol=lf
*.gitignore text eol=lf
# Treat *.plist as text
*.plist text eol=lf
*.strings text eol=lf
*.dsl text eol=lf

*.efi filter=lfs diff=lfs merge=lfs -text
*.aml filter=lfs diff=lfs merge=lfs -text
ALCPlugFix filter=lfs diff=lfs merge=lfs -text
alc-verb filter=lfs diff=lfs merge=lfs -text
**/Kexts/** filter=lfs diff=lfs merge=lfs -text
