* text eol=lf
*.md text eol=lf
*.gitattributes text eol=lf
*.gitignore text eol=lf
# Treat *.plist as text
*.plist text eol=lf
*.strings text eol=lf
*.dsl text eol=lf

*.efi filter=lfs diff=lfs merge=lfs -text
*.aml filter=lfs diff=lfs merge=lfs -text
ALCPlugFix filter=lfs diff=lfs merge=lfs -text
alc-verb filter=lfs diff=lfs merge=lfs -text
AirportItlwm filter=lfs diff=lfs merge=lfs -text
AppleALC filter=lfs diff=lfs merge=lfs -text
BlueToolFixup filter=lfs diff=lfs merge=lfs -text
BrightnessKeys filter=lfs diff=lfs merge=lfs -text
CpuTscSync filter=lfs diff=lfs merge=lfs -text
IntelBluetoothFirmware filter=lfs diff=lfs merge=lfs -text
Lilu filter=lfs diff=lfs merge=lfs -text
NVMeFix filter=lfs diff=lfs merge=lfs -text
RealtekRTL8111 filter=lfs diff=lfs merge=lfs -text
SMCBatteryManager filter=lfs diff=lfs merge=lfs -text
SMCProcessor filter=lfs diff=lfs merge=lfs -text
VirtualSMC filter=lfs diff=lfs merge=lfs -text
VoodooI2C filter=lfs diff=lfs merge=lfs -text
VoodooGPIO filter=lfs diff=lfs merge=lfs -text
VoodooI2CServices filter=lfs diff=lfs merge=lfs -text
VoodooInput filter=lfs diff=lfs merge=lfs -text
CodeResources filter=lfs diff=lfs merge=lfs -text
VoodooI2CHID filter=lfs diff=lfs merge=lfs -text
VoodooPS2Controller filter=lfs diff=lfs merge=lfs -text
VoodooPS2Keyboard filter=lfs diff=lfs merge=lfs -text
VoodooPS2Mouse filter=lfs diff=lfs merge=lfs -text
VoodooPS2Trackpad filter=lfs diff=lfs merge=lfs -text
WhateverGreen filter=lfs diff=lfs merge=lfs -text